
*{
    box-sizing:border-box;
}
html, 
body {
    height: 100%;
}
.flex{
    display: flex;
    flex:initial;
    flex-direction: row;
}
.none{
    flex:none;
}
.auto{
    flex:auto;
}
.column{
    flex-direction: column;
}
.justify-content-end{
    justify-content:flex-end;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-start{
    justify-content: flex-start;
}
.align-items-end{
    align-items: flex-end;
}
.align-items-center{
    align-items: center;
}
.align-items-start{
    align-items: flex-start;
}
.button{
    font-size:4vw;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background:white;
    border:2px solid #D8695E;
    border-radius:4vw;
    
}   
.button:after{
    background:#D8695E;
    opacity:0.6;
    color:#ffffff;
}
.red-button{
    font-size:8vw;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background:#D8695E;
    color:#ffffff;
    border-radius:4vw;
}
.red-button::after{
    opacity:0.6;
    
}

.title{
    font-size:16vw;
    font-weight: bold;
    color: #2D3642;
    height:22vw;
    line-height: 16vw;
    box-sizing: border-box;
    border-bottom:1vw dashed rgba(33, 38, 46, 0.3);
  }

.sub-title{
    font-size:6vw;
    font-weight: bold;
    color: #2D3642;
    height:12vw;
    line-height: 10vw;
    box-sizing: border-box;
    border-bottom:1vw dashed rgba(33, 38, 46, 0.3);
  }

