doctype html
html
  head
    title Build
  body
    h1 building
    br
    h3(id="status") not connected 
    br
    p(id="data") 
    script(src="/socket.io/socket.io.js")
    script.
      var socket = io();

      socket.on('connect', function() {
        document.getElementById("status").innerHTML = "connected";   
      });

      socket.on('data', function(data) {
        document.getElementById("data").innerHTML = "Received " + data;
      });